@model IEnumerable<GalebManager.Models.BillViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="_card">
    <h1 class="_card-title">Evidencija racuna</h1>

        <table class="table" id="billTable">
            <thead class="billTableTr">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.StoreId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FactureNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SupplierId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Sum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserCreated)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var formattedDate = item.Date.ToString("MM/dd/yyyy");
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StoreName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FactureNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SupplierName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => formattedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserCreated)
                        </td>
                        <td>
                            <a href="/Bill/Edit/@item.Id" class="action-link edit-link"><i class="fas fa-pen fa-fw"></i>&nbsp;Uredi</a>
                            <a href="/Bill/Details/@item.Id" class="action-link details-link"><i class="fas fa-info fa-fw"></i>&nbsp;Detalji</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>
@section Scripts {
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/responsive.bootstrap4.min.js"></script>
    <script src="~/js/bill.js"></script>

    <link href="~/css/datatables.min.css" rel="stylesheet" />
    <link href="~/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    
}
