@model IEnumerable<GalebManager.Models.InvoiceViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="_card">
    <h1 class="_card-title">Evidencija faktura</h1>

    <div class="invoice-actions">
        <div class="d-flex justify-content-between align-items-end">
            <form action="/Invoice/Search" id="searchForm">
                <div class="form-group">
                    <label for="stores">Radnja</label>
                    <select id="stores" class="form-control form-control-sm stores">
                        <option selected value="-1">Sve</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="supplier">Dobavljac</label>
                    <select id="supplier" class="form-control form-control-sm supplier">
                        <option selected value="-1">Sve</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="factured">Status fakture</label>
                    <select id="factured" class="form-control form-control-sm">
                        <option selected value="-1">Sve</option>
                        <option value="1">Fakturisane</option>
                        <option value="2">Nefakturisane</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dateFrom">Od</label>
                    <input type="text" class="form-control form-control-sm" id="dateFrom" />
                </div>
                <div class="form-group">
                    <label for="dateTo">Do</label>
                    <input type="text" class="form-control form-control-sm" id="dateTo" />
                </div>

                <button type="submit" class="btn btn-general btn--primary btn-sm">Pretrazi</button>
            </form>
            <div>
                <div class="nav-item dropdown ">
                    <a class="nav-link topnav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-fw"></i>
                    </a>
                    <div class="dropdown-menu card-dropdown fade" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Invoice/Create"><i class="fas fa-plus fa-sm fa-fw mr-2"></i>Nova faktura</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-file-export fa-sm fa-fw mr-2"></i>Export</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table" id="invoiceTable">
        <thead class="invoiceTableTr">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StoreId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Sum)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody id="invoiceTableData">
            @foreach (var item in Model)
            {
                var formattedDate = item.Date.ToString("MM/dd/yyyy");
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => formattedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sum)
                    </td>



                    <td class="text-right">
                        @if (item.BillNumber == "")
                        {
                            <a href="#" class="action-link facture-link" id="@item.Id" onclick="showAddBillModal(this);"><i class="fas fa-plus fa-fw"></i>&nbsp;Racun</a>
                        }
                        <a href="#" class="action-link edit-link" id="@item.Id" onclick="showUpdateInvoiceModal(this);"><i class="fas fa-pen fa-fw"></i>&nbsp;Izmena</a>
                        <a href="#" class="action-link details-link"><i class="fas fa-info fa-fw"></i>&nbsp;Detalji</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="modal fade mt-5" id="editInvoiceModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">


            </div>
        </div>
    </div>

    <div class="modal fade mt-5" id="addBillModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">


            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/responsive.bootstrap4.min.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/moment.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    <script src="~/js/invoice/validateInvoice.js"></script>
    <script src="~/js/storesAndSuppliers.js"></script>
    <script src="~/js/invoice/invoice.js"></script>

    <link href="~/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/css/datatables.min.css" rel="stylesheet" />
    <link href="~/css/responsive.bootstrap4.min.css" rel="stylesheet" />

}
